<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Minimal JS Front-End App Example</title>
</head>
<body>
  <h1>Public Library: Create a new Task</h1>
  <div id="res"></div>
  <form id="task">
    <p><label>Task: <input name="description" /></label></p>
    <!-- <p><label>Title: <input name="title" /></label></p>
    <p><label>Year: <input name="year" /></label></p> -->
    <p><button type="button" name="commit">Save</button></p>
  </form>
  <nav><a href="/index.html">Back to main menu</a></nav>


  <script src="../lib/utils.js"></script>
  <script src="../ctrl/createTask.js"></script>
</body>
</html>
