<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Minimal JS Front-End App Example</title>
</head>
<body>
  <h1>UPDATE TASK</h1>
  <div id="res"></div>
  <form id="task">
    <p><label>Description: <input name="description" /></label></p>
    <p>
      <label>
        State:
        <select name="state">
          <option value="1">Active</option>
          <option value="2">Done</option>
        </select>
      </label>
    </p>
    <p><button type="button" name="commit">Save</button></p>
  </form>
  <nav><a href="/src/view/listTasks.html">Back to List of Tasks</a></nav>


  <script src="../lib/utils.js"></script>
  <script src="../ctrl/updateTask.js"></script>

</body>
</html>
